.sidebar {
    background-color: #060b26;
    color: #FFFFFF;
    /* flex: .45; */
    position: relative;
    height: calc(100vh - 50px);
    display: block;
    position: fixed;
    justify-content: start;
    padding-top: 2%;
    padding-left: 2%;
    align-content: center;
    padding: 20px;   
}